* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    outline: none;
    border-style: solid;
    background-color: transparent;
}

h1, h2, h3 {
    font-size:100%;
	font-weight:normal;
}

@font-face {
    font-family: "GraphikLGG";
    src: url(../fonts/GraphikLCG-Regular.ttf);
    src: url(../fonts/GraphikLCG-Semibold.ttf);
}

* {
    font-family: "GraphikLGG";
}

.container {
    max-width: 1287px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #CCCCCC;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    max-width: 1337px;
}

header .logo-menu {
    display: flex;
    align-items: center;
}

header .menu {
    display: flex;
    margin-left: 50px;
}

header .menu-item {
    margin-right: 51px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

header .menu-item:hover {
    text-decoration: underline;
}

.btn-empty {
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-style: normal;
    font-size: 16px;
    line-height: 45px;
    font-weight: 600;
    color: #000000;
    padding: 0  35px;
    height: 41px;
    cursor: pointer;
}

.btn-empty:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.btn-filled {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    background: #FF6336;
    color: #FFFFFF;
    border: none;
    padding: 0px 22px;
    height: 43px;
    cursor: pointer;
}

.btn-filled:hover {
    filter: brightness(0.9);
}

header .btn-empty {
    height: 45px;
}

header .btn-filled {
    margin-left: 7px;
}

.hero-section {
    padding-bottom: 172px;
    padding-top: 125px;
}

.hero-section .container {
    display: flex;
}

.hero-section .hero-img {
    max-height: 529px;
    margin-right: -19px;
}

.hero-section .cta-caption {
    font-weight: 400;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 51px;
}

.hero-section .cta-text {
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 49px;
}

.hero-section .cta-note {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.hero-section .cta-buttons {
    display: flex;
    margin-bottom: 23px;
}

.hero-section .btn-filled {
    padding: 31px 42px;
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.hero-section .btn-empty {
    padding: 29px 28px;
    display: flex;
    align-items: center;
}

.companies {
    background: #FF9C7D;
    padding: 104px 0;
}

.companies .companies-caption {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    max-width: 55%;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
}

.companies .companies-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-process {
    padding-top: 89px;
    padding-bottom: 150px;
}

.work-process .part-work-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 250px;
}

.work-process .part-work-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-process .container .part-work-right:not(:last-child) {
    margin-bottom: 250px;
}

.work-process .part-text {
    max-width: 40%;
}

.work-process .work-caption {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 30px;
}

.work-process .work-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
}

.work-process .work-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    border: none;
    cursor: pointer;
}

.work-process .work-btn:hover {
    text-decoration: underline;
}

.work-process .work-process-img {
    max-width: 632px;
    max-height: 632px;
}

.lokalise {
    background: #FFF8E4;
    padding: 121px 0;
}


.lokalise .caption {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin-bottom: 75px;
}

.lokalise .lokalise-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 57px;
    margin-bottom: 76px;
}

.lokalise .lokalise-item {
    max-width: 357px;
    text-align: center;
}

.lokalise .lokalise-caption {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 20px;
}

.lokalise .lokalise-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.performance {
    padding: 192px 0;
}

.performance .performance-caption {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 75px;
}

.performance .performance-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.performance .performance-item {
    text-align: left;
    max-width: 32%;
}

.performance .perfomance-item-caption {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-top: 44px;
}

.performance-item:nth-child(2) .perfomance-item-caption {
    margin-top: 79px;
}

.performance-item:nth-child(3) .perfomance-item-caption {
    margin-top: 62px;
}

.performance .perfomance-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 58px;
}

.performance .learn-more {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.performance .learn-more:hover {
    text-decoration-line: underline;
}

.companie-revolut {
    background: #C9E8F2;
    padding-top: 55px;
    padding-bottom: 99px;
}

.companie-revolut .container {
    display: flex;
    align-items: flex-start;
}

.companie-revolut .revolut-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 33px;
}

.companie-revolut .revolut-note {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 6px;
}

.translation {
    background: #DABC98;
    padding: 110px 0;
}

.translation .container {
    display: flex;
    align-items: center;
}

.translation .cake {
    margin-top: 44px;
}

.translation .translation-caption {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    border-right: 1px solid #000000;
    margin-left: 44px;
    max-width: 45.6%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5px;
    margin-right: 72px;
}

.translation .stars {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 70px;
}

.integrate {
    padding-top: 169px;
    padding-bottom: 158px;
}

.integrate .integrate-caption {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}

.integrate .integrate-text {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 21px;
}

.integrate .sites-img {
    text-align: center;
}

.integrate .integrate-button {
    display: flex;
    justify-content: center;
}

.integrate .integrate-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
    background: #FF6336;
    border: none;
    margin-top: 36px;
    cursor: pointer;
    padding: 3px 20px;
}

.integrate .integrate-btn:hover {
    filter: brightness(0.9);
}

.localization {
    background: #FF9C7D;
    padding: 161px 0;
}

.localization .localization-caption {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin-bottom: 29px;
}

.localization .localization-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 54px;
}

.localization .localization-btn {
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    background: #000000;
    cursor: pointer;
    padding: 3px 40px;
}

.localization .localization-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.localization .localization-button {
    display: flex;
    justify-content: center;
}

footer {
    padding-top: 92px;
    padding-bottom: 48px;
}

footer .top-footer {
    display: flex;
}

footer .footer-information {
    max-width: 37%;
}

footer .footer-caption {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 30px;
}

footer .companie-specialized {
    max-width: 80px;
    margin-bottom: 29px;
    margin-top: 30px;
}

footer .footer-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 63%;
    margin-bottom: 13px;
}

footer .read-more {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

footer .read-more:hover {
    text-decoration: underline;
}

footer .footer-menu {
    display: flex;
    justify-content: space-between;
    width: 64%;
}

footer .footer-ception-menu {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 21px;
}

footer .footer-menu-item {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 15px;
}

footer .footer-menu-item:hover {
    text-decoration: underline;
}

footer .bottom-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    margin-top: 95px;
    border-top: 1px solid #000000;
    ;
}

footer .footer-logo {
    display: flex;
    align-items: center;
}

footer .footer-note {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-left: 20px;
}

footer .footer-reserved {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;

}